<div class="cover">
    <div class="cover__background">
        <img src="./src/assets/images/cover/cover.jpg">
    </div>

    <div class="cover__content container">
        <h3 class="spacing-widest">Notre mouvement</h3>
        <span></span>
        <h1 class="js-text" data-cartapus>soutenir les nouveaux talents en proposant une rémunération équitable.</h1>
    </div>

    <div class="cover__logo container">
        <img inline src="./src/assets/images/cover/logo.svg">
    </div>
</div>
