/* Fonts */

$font-body: OpenSans;
$font-title: OpenSansCondensed;

@font-face {
  font-family: $font-body;
  src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: $font-body;
  src: url('../assets/fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: $font-title;
  src: url('../assets/fonts/OpenSansCondensed-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
