/* Colors */
$color-white: #FFFFFF;
$color-black : #000000;
$color-grey : #858585;
$color-pink : #F7204E;

/* Size */
$screen-xl : 1440px;
$screen-lg : 1090px;
$screen-md : 780px;
$screen-sm : 375px;

/* Ease */
$ease-quad-out : cubic-bezier(0.76, 0, 0.24, 1)
