<footer>
    <img inline src="./src/assets/images/footer/logo.svg">

    <nav>
        <ul>
            <li><a href="#">S'inscrire</a></li>
            <li><a href="#">Exclusivités</a></li>
            <li><a href="#">Qui est WavLive</a></li>
            <li><a href="#">Contactez-nous</a></li>
        </ul>

        <ul>
            <li><a href="#">Mentions Légales</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">Conditions Générales d'Utilisation</a></li>
            <li><a href="#">Crédits</a></li>
        </ul>
    </nav>

    <div class="socials">
        <p class="spacing-widest">Suivez-nous</p>

        <span></span>

        <div>
            <a href="#"><img inline src="./src/assets/images/footer/socials/fb.svg"></a>
            <a href="#"><img inline src="./src/assets/images/footer/socials/tw.svg"></a>
            <a href="#"><img inline src="./src/assets/images/footer/socials/insta.svg"></a>
            <a href="#"><img inline src="./src/assets/images/footer/socials/yt.svg"></a>
        </div>
    </div>
</footer>
