<header class="js-header">
    <a href="#"><img inline src="./src/assets/images/header/logo.svg"></a>

    <nav class="js-nav">
        <ul>
            <li><a href="#" class="spacing-widest selected">s'inscrire</a></li>
            <li><a href="#" class="spacing-widest">se connecter</a></li>
            <li><a href="#" class="spacing-widest">télécharger l’app</a></li>
        </ul>
    </nav>

    <div class="hamburger js-hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="back js-back"></div>
</header>
