footer {
  background-color: $color-black;
  padding: 50px 80px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  flex-wrap: wrap;
  width: calc(100% - 160px);
  z-index: 10;
  color: $color-white;

  nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 500px;
    min-width: 420px;
    margin: 0 20px;

    ul {
      margin: 0 15px;

      li {
        margin-top: 25px;

        &:first-child {
          margin-top: 0px;
        }

        a {
          color: $color-white;
          letter-spacing: 0.5px;
          transition: color ease-out 0.2s;

          &:hover {
            color: $color-pink;
          }
        }
      }
    }
  }

  .socials {
    p {
      font-weight: 700;
      font-size: 13px;
    }

    span {
      display: block;
      width: 60px;
      height: 1px;
      background-color: $color-white;
      margin-top: 15px;
    }

    > div {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 170px;

      a {
        transition: transform ease-out 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media (max-width: $screen-xl) {
  footer {
    > img {
      width: 180px;
    }
  }
}

@media (max-width: $screen-lg) {
  footer {
    padding: 45px 60px;
    width: calc(100% - 120px);
    margin-top: 0;

    > img {
      width: 150px;
      height: fit-content;
    }

    .socials {
      width: 100%;
    }
  }
}

@media (max-width: $screen-md) {
  footer {
    flex-direction: column;
    padding: 50px 8%;
    width: 84%;

    nav {
      width: 100%;
      min-width: 0px;
      margin: 0 0px;
      margin-top: 25px;
      flex-wrap: wrap;

      ul {
        margin: 25px 20px 0 0;
      }
    }

    .socials {
      margin-top: 60px;
    }
  }
}
