<% if (typeof buttonText!='undefined' && buttonText && typeof buttonLink!='undefined' && buttonLink) { %>
    <a href="<%= buttonLink %>" class="button spacing-widest <%= typeof buttonClass!='undefined' ? buttonClass : '' %>">
        <%= buttonText %>
    </a>
<% } %>

