<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wavlive</title>
</head>
<body>

<%= require('./view/partials/common/header.ejs')() %>

<section>
</section>

<%= require('./view/partials/common/footer.ejs')() %>

</body>
</html>

